# Node
node_modules/
npm-debug.log*
.npm/
.npm-cache/

# Cache
work/npm-cache/

# Temporales
*.log
.DS_Store

# Builds
.next/
dist/
out/

# Variables privadas
.env
.env*.local

# Archivos temporales de migración
work/